---
---

html, body {
  background: black;
  height: 100%;
  width: 100%;
}


#twitch-embed-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#twitch-embed-chat {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
